  
<mat-toolbar class="dash-gradient">
    <button mat-icon-button  class="example-icon " aria-label="Example icon-button with menu icon">
     <mat-icon class="toolbar-icon"aria-hidden="false" aria-label="Example home icon">home</mat-icon>
   </button>
   <span class="toolbar-text">House</span>
   <span class="example-spacer"></span>
   <app-fullscreen inline="true"></app-fullscreen>
   
 </mat-toolbar>
<div>
  <mat-grid-list cols="3" rowHeight="6:5" [gutterSize]="'3%'">

  
  <mat-grid-tile 
   [colspan] = "1"
   [rowspan] = "2">
   <app-slider></app-slider>
   </mat-grid-tile>
   <mat-grid-tile 
   [colspan] = "1"
   [rowspan] = "2"> <app-slider></app-slider>
   </mat-grid-tile>
   <mat-grid-tile 
   [colspan] = "1"
   [rowspan] = "2"> <app-slider></app-slider>
   </mat-grid-tile>
  </mat-grid-list>
    
</div>
